.poll-answersContainer {
  margin: 2rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.poll-answerGroup {
  margin: 0.3rem 0;
  padding: 0.2rem;
  width: 100%;
  display: flex;
}
.poll-chosenAnswer {
  /* background: var(--clr-2-dark); */
}

/* LEFT SIDE START */
.poll-answerLeftSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.poll-radioLabelContainer {
  display: flex;
  align-items: center;
}
.poll-answerRadio {
  position: relative;
  height: 1.6rem;
  width: 1.6rem;
}
.poll-answerRadio::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: solid 3px var(--clr-2);
  border-radius: 1rem;
  background: var(--clr-2);
  visibility: visible;
  display: block;
  box-sizing: border-box;
}
.poll-answerRadio:active::before {
  background: var(--clr-3-light);
}
.poll-answerRadio:checked::before {
  background: var(--clr-3);
}
.poll-answerLabel {
  --bigger-font: 2.4rem;
  margin-left: 1rem;
}
/* .poll-answerGroup:not(.submitted), */
.poll-answerRadio:not(.submitted)::before,
.poll-answerLabel:not(.submitted) {
  cursor: pointer;
}
.poll-answerGroup.submitted {
  pointer-events: none;
}
.poll-answerPercentBar {
  position: relative;
  margin-top: 0.4rem;
  height: 1rem;
  background: var(--clr-3);
  border: 2px solid var(--clr-3);
  transition: width 1s;
  visibility: hidden;
}
.poll-answerPercentBar.submitted {
  visibility: visible;
}
/* LEFT SIDE END */

/* RIGHT SIDE START */
.poll-answerRightSide {
  text-align: right;
  min-width: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
}
.poll-answerRightSide.submitted {
  visibility: visible;
}
.poll-answerPercentNum {
  font-size: 1.8rem;
}
.poll-answerTotalVotes {
  font-size: 1.3rem;
}
.poll-answerPercentNum.text-withStroke::before,
.poll-answerTotalVotes.text-withStroke::before {
  right: 0;
}
.poll-answerTotalVotes.text-withStroke::before {
  -webkit-text-stroke-width: 6px;
}
/* RIGHT SIDE END */

.submitted {
  /* cursor: default; */
}

.poll-form > button {
  margin-top: 1rem;
}
