.poll-outerContainer {
  --blur: 1px;
  --positives: 1px;
  --negatives: -1px;
  padding: 2rem;
  max-width: 65rem;
  background: var(--clr-3);
}
.poll-innerContainer {
  padding: 2rem;
  background: var(--clr-1);
  border: 10px solid var(--clr-2);
  color: var(--clr-2);
  text-shadow: var(--positives) var(--positives) var(--blur) var(--clr-3),
    var(--positives) var(--negatives) var(--blur) var(--clr-3),
    var(--negatives) var(--positives) var(--blur) var(--clr-3),
    var(--negatives) var(--negatives) var(--blur) var(--clr-3);
}
.poll-heading {
  --bigger-font: 3.3rem;
  font-size: 2.4rem;
  white-space: pre-wrap;
}
.poll-submitBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poll-submitBar > button[type='submit'] {
  padding: 0.6rem 1rem;
  font-weight: bold;
  color: inherit;
  background: var(--clr-3);
  border: none;
  cursor: pointer;
}
.poll-submitBar > p {
  font-weight: bold;
}

/* TEXT STYLES START */
.text-styledContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  letter-spacing: 0.1rem;
}
.text-styledWord {
  width: max-content;
}
.text-wordSpace {
  margin: 0 0.2rem;
}
.text-bigger {
  font-size: var(--bigger-font);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-black-whiteBackground {
  color: var(--clr-3);
  background: var(--clr-2);
  text-shadow: none;
}
.text-black-whiteOutline {
  color: var(--clr-3);
  text-shadow: var(--positives) var(--positives) var(--blur) var(--clr-2),
    var(--positives) var(--negatives) var(--blur) var(--clr-2),
    var(--negatives) var(--positives) var(--blur) var(--clr-2),
    var(--negatives) var(--negatives) var(--blur) var(--clr-2);
}
.text-leanLeft {
  display: inline-block;
  transform: rotate(-15deg);
}
.text-leanRight {
  display: inline-block;
  transform: rotate(15deg);
}
/* TEXT STYLES END */
