.poll-outerContainer {
  --text-stroke: 7px;
  margin: 2rem;
  padding: 2rem;
  max-width: 50rem;
  background: var(--clr-3);
  transform: rotate(2deg);
}
.poll-innerContainer {
  padding: 2rem;
  background: var(--clr-1);
  /* background: linear-gradient(
    to right bottom,
    var(--clr-1) 60%,
    var(--clr-3-light) 60%
  ); */
  border: 10px solid var(--clr-2);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: var(--clr-2);
  transform: rotate(-3deg);
}
.poll-heading {
  --bigger-font: 3.3rem;
  font-size: 2.4rem;
  white-space: pre-wrap;
}
.poll-submitBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.poll-button {
  padding: 0.7rem 1.3rem;
  font-weight: bold;
  color: inherit;
  background: var(--clr-3);
  border: none;
  cursor: pointer;
  transition: all 0.15s;
}
.poll-submitButton.poll-noChoiceYet,
.poll-submitButton.submitted {
  padding: 0rem 0;
  margin-left: calc(0.2rem + var(--text-stroke));
  background: transparent;
  color: var(--clr-1);
  pointer-events: none;
}
.poll-submitBar > p {
  font-weight: bold;
  cursor: default;
}
.poll-seeResults {
  font-family: 'Big Shoulders Stencil Text';
  font-weight: 700;
  color: var(--clr-1);
  transform: rotate(-4deg);
  width: max-content;
}
.poll-seeResults > span {
  font-family: 'Saira Stencil One';
  font-weight: 400;
}
.poll-totalVotes {
  /* this height matches the See Results height to prevent layout shift */
  height: 4.5rem;
  display: flex;
  align-items: center;
}

/* TEXT STYLES START */
.text-styledContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  letter-spacing: 0.3rem;
}
.text-styledWord {
  width: max-content;
}
.text-wordSpace {
  margin: 0 0.2rem;
}
/* .poll-submitButton, */
.poll-submitButton.poll-noChoiceYet,
.poll-submitButton.submitted,
.text-withStroke {
  position: relative;
  z-index: 0;
}
/* .poll-submitButton::before, */
.poll-submitButton.poll-noChoiceYet::before,
.poll-submitButton.submitted::before,
.text-withStroke::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-stroke: var(--text-stroke) var(--clr-3);
  -moz-text-stroke: var(--text-stroke) var(--clr-3);
  z-index: -1;
}
.poll-button.poll-noChoiceYet::before,
.poll-button.submitted::before {
  /* padding: 0.7rem 0; */
  transition: all 0.15s;
}
/* .poll-submitButton {
  margin-left: -0.7rem;
  background: none;
}
.poll-submitButton::before {
  left: 1.3rem;
  top: 0.7rem; */
/* -webkit-text-stroke-width: 0; */
/* color: var(--clr-3); */
/* }
.poll-submitButton:not(.poll-noChoiceYet):not(.submitted)::after {
  content: attr(data-text);
  position: absolute;
  top: 1.4rem;
  left: 2.2rem;
  color: var(--clr-3);
  z-index: -1;
} */
.poll-totalVotes::before {
  display: flex;
  align-items: center;
  height: 4.5rem;
}
.text-bigger {
  font-size: var(--bigger-font);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-black-whiteBackground {
  color: var(--clr-3);
  background: var(--clr-2);
  text-shadow: none;
}
.text-black-whiteBackground::before {
  -webkit-text-stroke-width: 0;
  -moz-text-stroke-width: 0;
}
.text-black-whiteOutline {
  color: var(--clr-3);
}
.text-black-whiteOutline::before {
  -webkit-text-stroke-color: var(--clr-2);
  -webkit-text-stroke-width: 3px;
  -moz-text-stroke-color: var(--clr-2);
  -moz-text-stroke-width: 3px;
}
.text-leanLeft {
  display: inline-block;
  transform: rotate(-15deg);
}
.text-slightLeanLeft {
  display: inline-block;
  transform: rotate(-7deg);
}
.text-leanRight {
  display: inline-block;
  transform: rotate(15deg);
}
.text-slightLeanRight {
  display: inline-block;
  transform: rotate(7deg);
}
/* TEXT STYLES END */
