:root {
  --clr-1: rgb(255, 5, 5);
  --clr-2: white;
  --clr-2-dark: rgb(220, 220, 220);
  --clr-3: black;
  --clr-3-light: rgb(100, 100, 100);
  font-size: 62.5%;
  background: var(--clr-3-light);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-family: inherit;
}
body {
  height: 100%;
  width: 100%;
  font-size: 2rem;
}
footer {
  margin: 4rem 2rem;
  font-size: 1.6rem;
  font-family: monospace;
  color: var(--clr-2);
}
footer a {
  color: var(--clr-2);
}
